<%- include('template/head'); %>
<head>
    <link rel="stylesheet" href="./css/style.css" min-width="720px">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="navbar-search">
                <button type="submit"></button>
                <img src="" alt="">
            </div>
            <div class="navbar-login">
                <div class="navbar-login__login&register"> 
                    <button></button>
                    <button></button>
                </div>
                <button></button>
            </div>
        </nav>
    </header>
</body>
</html>